<h2 class=".center-align" >Login</h2>


  <div class="row valign-wrapper">
    <form class="login-form col s5">
    <div class="row">
      <label for="username">Username</label>
        <div class="input-field col s5">
          <input id="username-login" type="username" class="validate">
        </div>
      </div>
    <form class="col s5">
      <div class="row">
        <div class="input-field col s5">
          <label for="password">Password</label>
          <input id="password-login" type="password" class="validate">
        </div>
      </div>
       <button id="login" class="btn waves-effect waves-light" type="submit" name="action">Submit
  </button>
      </form>
  </div>

<a class="signup-link .center-align" href="/signup">Don't have an account? Sign up!!</a>

