
  <div class="row valign-wrapper">
    <form class="signup-form col s5">
      <div class="row">
        <div class="input-field col s5">
          <label for="username-signup">Username</label>
          <input  id="username-signup" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5">
          <label for="email-signup">Email</label>
          <input id="email-signup" type="email" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5">
          <label for="password-signup">Password</label>
          <input id="password-signup" type="password" class="validate">
        </div>
      </div>
       <button id="signup" class="btn waves-effect waves-light" type="submit" name="action">Submit
  </button>
    </form>
  </div>
        
<a href="/login">Already have an account? Log In!!</a>

